@using CustomWidgetEditor.Models

@{
  ViewBag.Title = "Start";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Please choose a state: </h4>
<div class="flex-wrap">
  @foreach ( var state in StatesDictionary.States )
  {

    @Html.ActionLink( @state.Key, "Current", "Editor", new { state = state.Key }, 
      new { @class = "btn btn-primary box m-4", @title = state.Value } )
  }
</div>
